.NODATA {
}

.red {
  color: red !important;
  cursor: pointer;
}

.EDIT {
  margin-left: 15px !important;
  cursor: pointer;
}

.delete {
  position: relative;
  right: 10px !important;
}

.containe {
  padding: 20px;
}

.gren {
  color: green;
}

.edit {
  transition: ease-in-out;
}

.bt {
  border: none;
  padding: 0px !important;
}

/* <button class="button-17" role="button">Button 17</button> */

/* CSS */
.button-17 {
  color: white !important;
  align-items: center;
  appearance: none;
  background-color: #28282b;
  border-radius: 24px;
  border-style: none;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  position: relative;
  float: right;
  top: 12px;
  right: 400px;
  font-weight: 600;
}

.button-17:hover {
  background: #f6f9fe;
  color: black !important;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.shadow {
  font-size: 19px;
}

.add {
  box-shadow: -2px 2px 11px 1px red !important;
}

:root {
  --animate-duration: 600ms;
  --animate-delay: 0.6s;
}

.redbox {
  box-shadow: -2px 0px 17px 0px red;
  transition: box-shadow 0.4s ease;
}

table {
  border-collapse: none !important;
}

.with-tooltip {
  position: relative;
}

.with-tooltip::after {
  content: attr(data-tooltip-content);
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  color: white;
  bottom: 115%;
  right: 50%;
  left: 50%;
  width: max-content;
  background-color: gray;
  opacity: 0;
  font-size: 0.8rem;
  visibility: hidden;
  transform: translate(-50%, 18px) scale(0.8);
  transition: visibility, opacity, transform 200ms;
}

.with-tooltip:hover::after {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.container-fluid {
  padding: 30px !important;
}

.roww {
  transition-delay: 10s;
}

.tr {
  padding: 8px !important;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 0.4s !important;
}
.animate__animated.animate__fadeIn {
  --animate-duration: 0.6s !important;
}

.NODATA {
  position: relative;
  top: 150px;
  font-weight: 700;
  text-align: center;
  color: rgb(199, 5, 5);
}

.toast {
  background-color: rgb(255, 255, 255);
  position: absolute;
  float: right;
  left: 1010px;
  top: 1px !important;

}
