
.NODATA{
 
}

.red{
    color: red !important;
     cursor: pointer;
}

    
.EDIT{
    margin-left: 15px !important;
    cursor: pointer;
}

.delete{
    position: relative;
    left: 20px !important;
    background-color: rgb(139, 79, 0);
}